/* Remove margens, preenchimentos, define o box-sizing e a fonte para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Define o background e a cor de texto para elementos específicos */
html, input, select, button, option {
  background-color: #09090B;
  color: #FAFAFA;
  letter-spacing: -0.02em;
  line-height: 120%;
}

/* Define estilos para o container principal do aplicativo */
/* APP */
#app {
  padding: 40px 20px;
  max-width: 320px;
  margin: auto;
}

/* FORM */
/* Estilos para o formulário */
#place {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 22px 16px;

  font-size: 14px;
  margin-bottom: 32px;
}

/* Remove todos os estilos próprios dos elementos input e select */
input, select {
  all: unset;
}

/* Define a largura de 100% para elementos input, select, button e option */
input, select, button, option {
  width: 100%;
}

/* Define layout de grid com gap para campos */
.fields {
  display: grid;
  gap: 8px;
}

/* Estilos para o contêiner de campos */
.field-wrapper {
  padding: 18px;
  background-color: #09090B;
  border: 1px solid #27272A;
  border-radius: 8px;

  display: flex;
  gap: 10px;
  align-items: center;
}

/* Mostra que o campo está selecionado */
.field-wrapper:focus-within {
  outline: 2px solid yellowgreen;
}

/* Estilos para o botão */
button {
  margin-top: 12px;
  border: none;
  padding: 12px 20px;
  background-color: #AFF445;
  border-radius: 8px;

  font-weight: 500;
  font-size: 16px;

  color: #132F00;
}

/* Estilos para o background do cartão */
.card-bg {
  background: #18181B;

  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.03);

  border-radius: 12px;

}

/* MAIN */
/* Estilos para o conteúdo principal */
main {
  margin-top: 32px;
}

/* Estilos para o cabeçalho (h1) */
h1 {
font-weight: 600;
font-size: 24px;

text-align: center;

margin-bottom: 24px;
}

/* Define layout de grid para seções */
section {
  display: grid;
  gap: 10px;
}

/* Esconde checkbox dentro da seção */
section input[type="checkbox"] {
  position: absolute;
  inset: 0;
}

/* Estilos para o background do cartão dentro da seção */
section .card-bg {
  position: relative;
  padding: 10px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* se dentro de card-bg tem algo que está checked.
Se o card-bg estiver como active ele "anula" a outra opção */
section .card-bg:has(:checked) .active,
section .card-bg .inactive {
  display: block;
}

/* Se o card-bg estiver como inactive ele "anula" a outra opção */
section .card-bg:has(:checked) .inactive,
section .card-bg .active {
  display: none;
}

/* Estilos para divs dentro do card-bg */
section .card-bg > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Estilos para o elemento time */
time {
  font-size: 14px;
  color: #A1A1AB;
  text-align: right;
}

/* Esconde o elemento time com a classe full */
time.full {
  display: none;
}

/* Estilos para dispositivos com largura maior que 1024px */
@media (width > 1024px) {
  #app {
    display: flex;
    max-width: 960px;
    gap: 32px;
    }

  main {
    margin-top: 0;
    flex: 1;
  }

  h1 {
    text-align: left;
  }

  time.full {
    display: block;
  }

  time.short {
    display: none;
  }
}

/* Animação para o aparecimento dos elementos card-bg */
section .card-bg {
  animation: appear 300ms;
}

@keyframes appear {
  from {
    opacity: 0;
  }
}